.mwt_border_right{
    width:250px;
    height:120px;
    text-align:center;
    background:transparent;
    position:relative;
    border: solid 1px #333;
    margin:30px;
    padding:30px;
    margin-left:52%;
    }

.mwt_border_left{
    width:250px;
    height:120px;
    text-align:center;
    background:transparent;
    position:relative;
    border: solid 1px #333;
    margin:30px;
    padding:30px;
    margin-right: 50%;
    }

/*箭頭右*/.mwt_border_right .arrow_r_int{
    width:0px;
    height:0px;
    border-width:15px;
    border-style:solid;
    border-color:transparent transparent transparent #333;
    position:absolute;
    top:20%;
    right:-30px;
    }
/*箭頭右-邊框*/.mwt_border_right .arrow_r_out{
    width:0px;
    height:0px;
    border-width:15px;
    border-style:solid;
    border-color:transparent transparent transparent rgb(63, 56, 56);
    position:absolute;
    top:20%;
    right:-29px;
    }

/*箭頭左*/.mwt_border_left .arrow_l_int{
    width:0px;
    height:0px;
    border-width:15px;
    border-style:solid;
    border-color:transparent #333 transparent  transparent ;
    position:absolute;
    top:20%;
    left:-30px;
    }
/*箭頭左-邊框*/.mwt_border_left .arrow_l_out{
    width:0px;
    height:0px;
    border-width:15px;
    border-style:solid;
    border-color:transparent rgb(63, 56, 56) transparent transparent ;
    position:absolute;
    top:20%;
    left:-29px;
    }

.content_name{
    margin-top: -5%;
    weight:130px;
    height :20px;
    float:left;
}

.content_details{
    height:24px;
    margin-top: 20%;
}

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid gray;
        border-right: 16px solid gray;
        border-bottom: 16px solid gray;
        border-left: 16px solid pink;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }
      
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

      #ph{
        margin-top: 60%;
        height: 50px;
        weight: 50px;
        float:left;
        border-radius: 100%;
        margin: 0 0 2em 0;
        padding: 0.5em;
        border: solid 1px rgba(255, 255, 255, 0.185);
        background-color: rgba(255, 255, 255, 0.075);
    }
    .phh{
        width: 40px;
        height: 40px;
        margin-top: -12%;
        float:right;
    }

    @media screen and (max-width: 1280px){
        #chat{
            width :600px;
        }
        #input{
            width:540px;
        }
    }

    @media screen and (max-width: 980px){
        #chat{
            width :540px;
        }
        #input{
            width:540px;
        }
    }
    @media screen and (max-width: 736px){
        #chat{
            width :420px;
        }
        #input{
            width:420px;
        }
    }

    @media screen and (max-width: 480px){
        #chat{
            width :360px;
        }
        #input{
            width:360px;
        }

    }

    @media screen and (max-width: 360px){
        #chat{
            width :280px;
        }
        #input{
            width:280px;
        }

    }
